.main-container {
  display: grid;
  grid-template-rows: 50px auto 100px;
  min-height: 100vh;
  @media (min-width: 900px) {
    grid-template-columns: 40px 1fr 40px;
    > * {
      grid-column: 2;

      &.full {
        grid-column: 1 /-1;
      }
    }
  }
}
